@media screen and (min-width:1200px) {
   
    .navigation {
        flex-direction: row;
    }
  
    .navigation a {
        display: block;
        flex: 1 1 100%;
    }   

    #menu{
        display: none;
    }

    #rental-info {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 1.5rem;
    }

}