@media screen and (min-width: 750px) {
    .header-content {
        flex-direction: row;
    } 

      
    .navigation {
        flex-direction: row;
        align-items: center;
    }
  
    .navigation a {
        display: block;
        flex: 1 1 100%;
    }   

    #menu{
        display: none;
    }
    
    #rental-info {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1.5rem;
    }

    .scooter-info {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .jeep-info {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .scooter-info {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #weather-info{
        flex-direction: row;
    }

    .logo_name {
        flex-direction: row;
    }
    
    .info {
        font-size: 1.5rem;
        margin: 0 auto;
    }

    .reservations {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .agreement{
        grid-column: 1/2;
    }

    .reservation-form{
        grid-column: 2/3;
    }

    .wf1 fieldset {
        margin-left: 5rem;
    }

    .thank-you fieldset{
        min-width: 600px;
        max-width: 800px;    
    }

    .thank-you input[type="text"],
    .thank-you input[type="email"],
    .thank-you textarea {
     max-width: 800px;
    }

    .thank-you input[type="submit"] {
        margin: -1rem 15% 2rem 15%;
    }

   .maps{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;
    }  
}