@media screen and (min-width:1200px) {
   
    .navigation {
        flex-direction: row;
    }
  
    .navigation a {
        display: block;
        flex: 1 1 100%;
    }   

    #menu{
        display: none;
    }

    .goals-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    }

    .spotlight {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #forecast-list {
        display: flex;
        flex-direction: row;
        grid-gap: 1.5rem;
        justify-content: center;
      }

/*Join Page*/
.joinpage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    }

.joinmessage {
    column-span: all;
}

#benefits ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

   /*Directory Page*/
   .gold-display {
    grid-template-columns: 1fr 1fr 1fr;
    }

}